@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

@import './variables';

@include react-md-utils;

html,
body {
  font-size: 1rem;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
